@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.display-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.collapse {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.selected {
  background: #fef08d !important;
}

.animation {
  -webkit-animation: shake .7s 1;
          animation: shake .7s 1;
}

.collapse-burger .burger-line:first-of-type {
  -webkit-transform: translate(0.05rem, 0.6rem) rotate(35deg);
          transform: translate(0.05rem, 0.6rem) rotate(35deg);
}

.collapse-burger .burger-line:nth-of-type(2) {
  -webkit-transform: translate(0.05rem, -0.6rem) rotate(-35deg);
          transform: translate(0.05rem, -0.6rem) rotate(-35deg);
}

.collapse-burger .burger-line:last-of-type {
  display: none;
}

.opacity {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #000;
  height: 4rem;
  padding: 0 2rem;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  z-index: 199;
}

nav #nav-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  position: absolute;
  padding: 1rem 3rem;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background: #000;
  list-style: none;
}

nav #nav-container li {
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(0.25turn, #fff, #fff, rgba(56, 2, 155, 0));
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), to(rgba(56, 2, 155, 0)));
     border-image: linear-gradient(0.25turn, #fff, #fff, rgba(56, 2, 155, 0));
  border-image-slice: 1;
  padding: 1rem 0;
}

nav #nav-container li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.15rem;
}

nav #nav-container li a:hover {
  text-decoration: underline;
}

nav .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2rem;
  height: 1.2rem;
  z-index: 201;
  cursor: pointer;
}

nav .burger-menu .burger-line {
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}

#quiz-arrow {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  left: 100%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000;
  background: rgba(255, 0, 0, 0.9);
  padding: 1rem 1rem 2.2rem 1rem;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
  font-weight: 700;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: background 300ms linear;
  transition: background 300ms linear;
}

#chestionar-UI {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 800px;
  height: 90%;
  background: #fff;
  z-index: 1001;
}

#chestionar-UI h1 {
  padding: 1rem 0;
  text-align: center;
}

#chestionar-UI .chestionar-UI__text-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1rem;
  height: 70%;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

#chestionar-UI .chestionar-UI__text-section p span {
  color: #d92626;
}

#chestionar-UI .chestionar-UI__text-section p span::after {
  content: '%';
  color: #000;
}

#chestionar-UI .chestionar-UI__buttons-section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  height: 70%;
}

#chestionar-UI .chestionar-UI__buttons-section .quizButton {
  padding: 1rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  border: none;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

#chestionar-UI .chestionar-UI__buttons-section .quizButton:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#chestionar-UI .chestionar-UI__buttons-section #start-quiz__button {
  background: #62d926;
}

#chestionar-UI .chestionar-UI__buttons-section #history__button {
  background: #fef3a6;
}

#chestionar-UI .chestionar-UI__questions-section {
  display: none;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  text-align: center;
}

#chestionar-UI .chestionar-UI__questions-section p {
  font-weight: 700;
  font-size: 1.25rem;
}

#chestionar-UI .chestionar-UI__questions-section p span {
  color: #404040;
}

#chestionar-UI .chestionar-UI__questions-section h2 {
  font-size: 1rem;
}

#chestionar-UI .chestionar-UI__questions-section .answers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

#chestionar-UI .chestionar-UI__questions-section .answers-container .answers-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#chestionar-UI .chestionar-UI__questions-section .answers-container .answers-column .answer {
  padding: .5rem .75rem;
  background: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: .5rem;
  -webkit-box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
}

#chestionar-UI .chestionar-UI__questions-section .answers-container .answers-column .selected {
  background: yellow;
}

#chestionar-UI .chestionar-UI__questions-section #submit-button {
  padding: .75rem 1rem;
  font-weight: 700;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#chestionar-UI .chestionar-UI__result-section {
  display: none;
  place-content: center;
  height: 70%;
  text-align: center;
  font-weight: 700;
  font-size: 1.15rem;
}

#chestionar-UI .chestionar-UI__result-section span {
  font-size: 1.25rem;
  color: green;
}

#chestionar-UI .chestionar-UI__history-section {
  display: none;
}

#chestionar-UI .chestionar-UI__history-section h2 {
  text-align: center;
}

#chestionar-UI .chestionar-UI__history-section .history-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  height: 250px;
  overflow-y: scroll;
  padding: 2rem;
}

#chestionar-UI .chestionar-UI__history-section .history-container .history-element {
  font-weight: 700;
  font-size: 1.25rem;
  border-bottom: 1px solid #000;
}

#chestionar-UI .chestionar-UI__history-section .history-container .history-element .history-result {
  font-size: 1.35rem;
  color: #1e5e1e;
}

#chestionar-UI .chestionar-UI__history-section #history-back__button {
  padding: .5rem .75rem;
  background: red;
  color: #fff;
  font-weight: 700;
  border: 1px solid #000;
  margin-left: 2rem;
  border-radius: .25rem;
  -webkit-box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

main {
  margin-top: 4rem;
}

main h1 {
  margin-top: 200px;
}

#cards-section {
  position: relative;
  height: 110vh;
  width: 100%;
  background: #000;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

#cards-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(white, transparent 50%);
  opacity: .5;
  z-index: 1;
  -webkit-transition: width 400ms ease-out;
  transition: width 400ms ease-out;
}

#cards-section .card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  aspect-ratio: 5 / 7;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  z-index: 2;
}

#cards-section .big-card {
  width: 100px;
  height: auto;
}

#cards-section .big-card:first-of-type {
  -webkit-transform: translate(-57%, -50%) rotate(-3deg);
          transform: translate(-57%, -50%) rotate(-3deg);
  background: url("../../images/big1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section .big-card:nth-of-type(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-1deg);
          transform: translate(-50%, -50%) rotate(-1deg);
  background: url("../../images/big2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section .big-card:nth-of-type(3) {
  -webkit-transform: translate(-43%, -50%) rotate(1deg);
          transform: translate(-43%, -50%) rotate(1deg);
  background: url("../../images/big3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section .big-card:nth-of-type(4) {
  -webkit-transform: translate(-36%, -50%) rotate(3deg);
          transform: translate(-36%, -50%) rotate(3deg);
  background: url("../../images/big4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section .small-card {
  width: 55px;
  height: auto;
}

#cards-section:hover::before {
  width: 95%;
}

#cards-section:hover .big-card:first-of-type {
  -webkit-transform: translate(-117%, -46%) rotate(-12deg);
          transform: translate(-117%, -46%) rotate(-12deg);
}

#cards-section:hover .big-card:nth-of-type(2) {
  -webkit-transform: translate(-68%, -51%) rotate(-1deg);
          transform: translate(-68%, -51%) rotate(-1deg);
}

#cards-section:hover .big-card:nth-of-type(3) {
  -webkit-transform: translate(-33%, -50%) rotate(4deg);
          transform: translate(-33%, -50%) rotate(4deg);
}

#cards-section:hover .big-card:nth-of-type(4) {
  -webkit-transform: translate(23%, -46%) rotate(12deg);
          transform: translate(23%, -46%) rotate(12deg);
}

#cards-section:hover .small-card:nth-of-type(5) {
  -webkit-transform: translate(75%, -223%) rotate(7deg);
          transform: translate(75%, -223%) rotate(7deg);
  background: url("../../images/small1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section:hover .small-card:nth-of-type(6) {
  -webkit-transform: translate(-155%, -223%) rotate(-12deg);
          transform: translate(-155%, -223%) rotate(-12deg);
  background: url("../../images/small2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section:hover .small-card:nth-of-type(7) {
  -webkit-transform: translate(70%, 150%) rotate(9deg);
          transform: translate(70%, 150%) rotate(9deg);
  background: url("../../images/small3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards-section:hover .small-card:last-of-type {
  -webkit-transform: translate(-150%, 143%) rotate(-12deg);
          transform: translate(-150%, 143%) rotate(-12deg);
  background: url("../../images/small4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#text_section {
  text-align: center;
  padding: 1rem;
  margin: 5rem 0;
}

#text_section p {
  max-width: 600px;
  margin: auto;
}

#text_section h1 {
  opacity: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  background: #000;
  color: #fff;
  text-align: center;
}

footer p .cta {
  font-weight: 700;
  color: grey;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  list-style: none;
}

footer ul li:first-of-type {
  text-decoration: underline;
  font-weight: 700;
}

footer ul li a {
  text-decoration: none;
  color: yellow;
}

@media screen and (min-width: 408px) {
  body #chestionar-UI .chestionar-UI__history-section .history-container {
    height: 300px;
  }
}

@media screen and (min-width: 600px) {
  body #chestionar-UI .chestionar-UI__questions-section {
    gap: 1rem;
  }
  body #chestionar-UI .chestionar-UI__questions-section p {
    font-size: 1.5rem;
  }
  body #chestionar-UI .chestionar-UI__questions-section h2 {
    font-size: 1.5rem;
  }
  body #chestionar-UI .chestionar-UI__questions-section .answers-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  body #chestionar-UI .chestionar-UI__questions-section .answers-container .answers-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  body #chestionar-UI .chestionar-UI__questions-section .answers-container .answers-column .answer {
    padding: 1rem 1.75rem;
  }
  body main #cards-section .big-card {
    width: 125px;
  }
  body main #cards-section .small-card {
    width: 75px;
  }
  body main #cards-section .big-card:first-of-type {
    -webkit-transform: translate(-67%, -50%) rotate(-3deg);
            transform: translate(-67%, -50%) rotate(-3deg);
    background: url("../../images/big1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section .big-card:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) rotate(-1deg);
            transform: translate(-50%, -50%) rotate(-1deg);
    background: url("../../images/big2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section .big-card:nth-of-type(3) {
    -webkit-transform: translate(-37%, -50%) rotate(1deg);
            transform: translate(-37%, -50%) rotate(1deg);
    background: url("../../images/big3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section .big-card:nth-of-type(4) {
    -webkit-transform: translate(-26%, -50%) rotate(3deg);
            transform: translate(-26%, -50%) rotate(3deg);
    background: url("../../images/big4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover::before {
    width: 45%;
  }
  body main #cards-section:hover .big-card:first-of-type {
    -webkit-transform: translate(-177%, -43%) rotate(-12deg);
            transform: translate(-177%, -43%) rotate(-12deg);
  }
  body main #cards-section:hover .big-card:nth-of-type(2) {
    -webkit-transform: translate(-107%, -51%) rotate(-2deg);
            transform: translate(-107%, -51%) rotate(-2deg);
  }
  body main #cards-section:hover .big-card:nth-of-type(3) {
    -webkit-transform: translate(-17%, -50%) rotate(4deg);
            transform: translate(-17%, -50%) rotate(4deg);
  }
  body main #cards-section:hover .big-card:nth-of-type(4) {
    -webkit-transform: translate(63%, -43%) rotate(12deg);
            transform: translate(63%, -43%) rotate(12deg);
  }
  body main #cards-section:hover .small-card:nth-of-type(5) {
    -webkit-transform: translate(75%, -203%) rotate(7deg);
            transform: translate(75%, -203%) rotate(7deg);
    background: url("../../images/small1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover .small-card:nth-of-type(6) {
    -webkit-transform: translate(-155%, -203%) rotate(-12deg);
            transform: translate(-155%, -203%) rotate(-12deg);
    background: url("../../images/small2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover .small-card:nth-of-type(7) {
    -webkit-transform: translate(70%, 120%) rotate(9deg);
            transform: translate(70%, 120%) rotate(9deg);
    background: url("../../images/small3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover .small-card:last-of-type {
    -webkit-transform: translate(-150%, 123%) rotate(-12deg);
            transform: translate(-150%, 123%) rotate(-12deg);
    background: url("../../images/small4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #text_section h1 {
    font-size: 2.3rem;
  }
  body footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
  body main #cards-section .big-card {
    width: 150px;
  }
  body main #cards-section .small-card {
    width: 100px;
  }
  body main #cards-section:hover .small-card:nth-of-type(5) {
    -webkit-transform: translate(75%, -183%) rotate(7deg);
            transform: translate(75%, -183%) rotate(7deg);
    background: url("../../images/small1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover .small-card:nth-of-type(6) {
    -webkit-transform: translate(-155%, -187%) rotate(-12deg);
            transform: translate(-155%, -187%) rotate(-12deg);
    background: url("../../images/small2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover .small-card:nth-of-type(7) {
    -webkit-transform: translate(70%, 86%) rotate(9deg);
            transform: translate(70%, 86%) rotate(9deg);
    background: url("../../images/small3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body main #cards-section:hover .small-card:last-of-type {
    -webkit-transform: translate(-150%, 87%) rotate(-12deg);
            transform: translate(-150%, 87%) rotate(-12deg);
    background: url("../../images/small4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  body nav #nav-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: .5rem;
    width: 100%;
    max-width: 1300px;
    height: initial;
    padding: 1rem;
  }
  body nav #nav-container li {
    padding: 0;
    border: none;
    border-right: 1px solid #fff;
    padding-right: .75rem;
  }
  body nav #nav-container li a {
    font-size: 1rem;
  }
  body nav #nav-container li:last-of-type {
    border: none;
  }
  body nav .burger-menu {
    display: none;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  40% {
    -webkit-transform: translate(-1em);
            transform: translate(-1em);
  }
  60% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  80% {
    -webkit-transform: translate(-1em);
            transform: translate(-1em);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  40% {
    -webkit-transform: translate(-1em);
            transform: translate(-1em);
  }
  60% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
  80% {
    -webkit-transform: translate(-1em);
            transform: translate(-1em);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=style.css.map */